  <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
      <footer class="main-footer d-flex justify-content-center">
        <strong>Copyright &copy; <span id="year"></span> <a href="https://web.facebook.com/kameltouati19">Touati Kamel</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" href="https://web.facebook.com/kameltouati19"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://www.instagram.com/kamel__touati/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>